<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="header  d-flex">
             <img src="/static/images/logo.png" width="50" height="50" alt="Logo Website" />
		    <h4 class="px-3 m-1">Yolov8-Safevest</h4>
	</div>

    <div class="container content">
        <div class="d-flex justify-content-center mt-5">
            <label id="btn-image" class="btn btn-light btn-lg rounded-pill btn-custom me-3">
                Image
                 <input id="input-image" type="file" accept="image/*" style="display:none" />
            </label>
            <label class="btn btn-secondary btn-lg rounded-pill btn-custom me-3">
                Video
                <input id="input-video" type="file" accept="video/*" style="display:none" />
            </label>
        </div>
         <div id="result" class="result-content d-flex justify-content-center align-items-center pt-5"></div>
    </div>

	<div class= "footer text-center ">
		<h5 class="text-light fw-bold"> Bùi Hữu Tâm</h5>
	</div>

    <script src="{{ url_for('static', filename='js/api.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" defer></script>
</body>
</html>